<div class="container mt-2">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let user of users$ | async">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">{{ user.name }}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Email: {{ user.email }}</li>
          <li class="list-group-item">Password: {{ user.password }}</li>
          <li class="list-group-item">
            <div style="display: flex; justify-content: space-between;">
              <a [routerLink]="['/edit', user.id]" class="btn btn-primary"
                >Edit</a
              >
              <button
                type="button"
                class="btn btn-danger"
                data-bs-toggle="modal"
                data-bs-target="#deleteModal"
                (click)="idToDelete = user.id"
              >
                Delete
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->

<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">Are sure to delete this item?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-danger" (click)="delete()">
          Confirm Delete
        </button>
      </div>
    </div>
  </div>
</div>
